//

//     font-family: 'Ubuntu', sans-serif;

//     font-family: 'Fjalla One', sans-serif;

body{
    border:2px solid #f853a6;
    border-radius: 15%;
    margin:10px;
}

html{
    line-height: 1.5;
    font-family: 'Ubuntu', sans-serif;
    font-size: 62.5%;
    background: rgb(27,1,19);
    background: linear-gradient(40deg, rgba(27,1,19,1) 48%, rgba(113,43,80,1) 97%); 
    color: #d5e5b6;
}
h1{
    margin: 0;
}
h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
}

a{
    color: bisque;
}


.wrapper{
    max-width: 1040px;
    width: 80%;
    margin: 0 auto;
}

p{
    font-size: 1.6rem;
    text-align: center;
}
.counter{
    h3{
        font-size: 1.6rem;
    }
}
.choices{
    margin-bottom: 15px;
}