//

//     font-family: 'Ubuntu', sans-serif;

//     font-family: 'Fjalla One', sans-serif;

body{
    border:2px solid #f853a6;
    border-radius: 15%;
    margin:10px;
}

html{
    line-height: 1.5;
    font-family: 'Ubuntu', sans-serif;
    font-size: 62.5%;
    background:#1b0113;
    color: #f853a6;
}
h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    text-align: center;
}



.wrapper{
    max-width: 1040px;
    width: 80%;
    margin: 0 auto;
}

p{
    font-size: 1.6rem;
    text-align: center;
}
