@media (max-width:670px){
    header{
        .wrapper{
            h1{
                font-size: 4rem;
            }
        }
    }
    .choices{
        button{
            margin: 0 10px;
        }
    }

}

@media (max-width: 380px){
    .counter{
        h3{
            font-size: 1.5rem;
        }
    }
}