@import 'setup';
@import 'general';

h1{
    margin-bottom: 0;
}

.mainImages{
    display: flex;
    justify-content: center;
    .options{
        width: calc(50% - 60px);
        margin:0 15px;
    }
}
header p {
    text-align: center;
}

.choices{
    display: flex;
    justify-content: space-around;
}

button{
    font-size: 1.5rem;
    text-transform: uppercase;
    padding:10px;
    border: none;
    background: rgb(228, 20, 90);
    box-shadow: black 2px 2px;
}

button:hover{
    background: darken($color: hsl(337, 92%, 25%), $amount: 5);;
}

.main_container {
  height: 46px;
  width: auto;
  padding: 3px;
  margin: 2px;
  max-width: 300px;
  background-color: #555555;
  align-content: center;
}
.container_inner {
  height: auto;
  border: none;
  background-color: #555555;
  max-width: 290px;
  vertical-align: center;
  padding-top: 12px;
  padding-left: 10px;
  align-content: center;
}
 .num_tiles {
  width:30px;
  height: 30px;
  background-color: #888888;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  line-height: 20px;
  padding: 3px;
  margin: 1.5px;
  font-family: verdana;
  vertical-align: center;
}